<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>What's It Like Outside?</h1>
    <form action="/weather" method="POST">
        <label for="zipcode">Enter a zipcode: </label>
        <input type="text" name="zipcode" id="zipcode" required>
        <input type="submit" value="Submit">
    </form>
</body>
</html>